services:
  postgres:
    image: postgres:15
    container_name: my-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - infrastructure_default

  service-courier:
    build: .
    command: ["/service"]
    ports:
      - "8082:8080"
      - "127.0.0.1:6060:6060"
    env_file: .env
    environment:
      - PORT=${PORT}
      - POSTGRES_HOST=my-postgres
      - TZ=Europe/Moscow
    networks:
      - infrastructure_default
      - monitoring
    depends_on:
      - postgres

  service-courier-worker:
    build: .
    command: ["/worker"]
    env_file: .env
    ports:
      - "9101:9101"
    environment:
      - POSTGRES_HOST=my-postgres
      - TZ=Europe/Moscow
      - KAFKA_BROKERS=${KAFKA_BROKERS}
    networks:
      - infrastructure_default
      - monitoring
    depends_on:
      - postgres
    

  prometheus:
    image: prom/prometheus
    ports: ["9090:9090"]
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
      - "prometheus-data:/prometheus"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana
    ports: ["3000:3000"]
    volumes:
      - "grafana-data:/var/lib/grafana"
    networks:
      - monitoring
    depends_on:
      - prometheus

volumes:
  pgdata:
  prometheus-data:
  grafana-data:
  
networks:
  infrastructure_default:
    external: true
  monitoring:
    driver: bridge